<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
修改密码页面<br/>
    <form class= "login" method="post" action="/auth/modify_password">
        {% module xsrf_form_html() %}
            <p>新密码：<br><input type="text" name="password1"></p>
            <p>再一次输入新密码：<br><input type="text" name="password2"></p>
            <p><input type="text" name="current"  value="{{ current }}"></p>
            <p><input type="text" name="email"  value="{{ email }}"></p>
            <input type="submit" value="发送">
    </form>
</body>
</html>